body {
    font-family: sans-serif;
    background: rgba(37,44,49,1);
    margin: 0;
    padding: 0;
}

div.pipeline-loading-icon {
    content: url("dark-load.gif");
}

section.pipeline-component {
    width: 97.5%; /* Hackish way to resolve issues for now*/
    padding-left: 20px;
    padding-right: 20px;
}

section.pipeline-component h1 {
    font-size: 38px;
    font-weight: bold;
    vertical-align: middle;
    padding: 10px;
}

section.pipeline-component h2 {
    font-size: 16px;
    padding: 10px;
}

.pipelineHeader {
    margin: 20px 0px 0px 0px;
}

.pipelineSecondaryHeader {
    margin: 0px 0px 50px 0px;
    padding: 5px 0px 5px 0px;
}

.buttonText {
    line-height: 1.5em;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
}

.buttonTrigger {
    margin-left: 10px;
}

.buttonTriggerTextBox {
    min-width: 450px;
}

.buttonRefreshTextBox {
    min-width: 260px
}

div.changes h1 {
    font-size: 14px;
}

.pipeline-message {
    position: fixed;
    font-size: 36px;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

.pipeline-message a:visited {
    color: inherit;
}

/*svg.relation path {
    stroke: #fefefe;
    stroke-width: 3;
}*/

div.infoPanel {
    border: none;
    background: none;
}

div.infoPanelOuter {
    color: #fefefe;
    background-color: #646060;
    border: 1px solid darkgray;
}

div.aggregatedChangesPanelOuter {
    margin: 8px;
    border: 1px solid lightgray;
    background-color: #646060;
}

a span {
    min-width: initial;
}

.build_entry {
    line-height: 2.5em;
}

.displayTable {
    font-size: 15px;
}

.hoverText {
    font-size: 14px;
}

.hoverTable {
    font-size: 14px;
}

.hoverTableTh {
    min-width: 140px;
}

/* Enough to fit the timestamp in one line */
.hoverTableTd {
    min-width: 240px;
}

.legendTh {
    font-size: small;
}

.legendTd {
    font-size: small;
}
