/*
 * To distinguish header icons from pipeline icons when using jQuery
 */
.circle_header {
    float: left;
    margin: 0px;
    padding: 0px;
}

.circle {
    float: left;
    margin: 0px;
    padding: 0px;
}

.circle_SUCCESS {
    background: url("successCircle.png") no-repeat;
}

.circle_FAILED {
    background: url("failedCircle.png") no-repeat;
}

.circle_CANCELLED {
    background: url("cancelledCircle.png") no-repeat;
}

.circle_NOT_BUILT {
    background: url("notBuiltCircle.png") no-repeat;
}

.circle_IDLE {
    background: url("notBuiltCircle.png") no-repeat;
}

.circle_RUNNING {
    background: url("runningCircle.gif") no-repeat;
    background-color: transparent;
}

.circle_QUEUED {
    background: url("queuedCircle.png") no-repeat;
}

.circle_UNSTABLE {
    background: url("unstableCircle.png") no-repeat;
}

.circle_DISABLED {
    background: url("disabledCircle.png") no-repeat;
}

.circle_FAILED_ON_BLOCK {
    background: url("failedOnBlockCircle.png") no-repeat;
}

.pipelineHeader {
    display: block;
    background-color: rgba(36,66,92,1);
    /*border: 1px solid rgba(31,101,160,1);*/
    border: 1px solid black;
    color: rgba(220,220,220,1);
    text-align: left;
    margin: 0px 0px 15px 0px;

    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(top, rgba(36,66,92,1), rgba(30,50,71,1));

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, rgba(36,66,92,1), rgba(30,50,71,1));
}

.pipelineHeaderUrl {
    color: ;
}

div.hide {
    visibility: hidden;
}

div.pipeline-main {
    background-color: rgba(37,44,49,1);
}

div.pipeline-loading-icon {
    content: url("white-load.gif");
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section.pipeline-component {
    width: 100%;
}

section.pipeline-component h1 {
    font-size: 20px;
    font-weight: bold;
    font-stretch: expanded;
    margin: 0;
    padding: 5px;
}

section.pipeline-component h2 {
    font-size: 14px;
    font-weight: normal;
    font-stretch: expanded;
    margin: 0;
    padding: 5px;
}

section.pipeline {
    display: table;
    border-collapse: collapse;
    width: 100%;
    /*overflow: auto;*/
}

div.changes {
    padding-top: 0;
    margin-bottom: 10px;
    padding-left: 10px;
    display: table;
}

div.changes a {
    text-decoration: none;
    color: inherit;
}

div.changes a:visited {
    color: inherit;
}

div.changes a:hover {
    text-decoration: underline;
}

div.changes h1 {
    font-size: 12px;
    line-height: 12px;
    padding: 0;
    margin-bottom: 5px;
}

div.change {
    clear: both;
    padding-left: 5px;
    display: table-row;
}

div.change-author {
    vertical-align: top;
    min-width: 75px;
    display: table-cell;
    padding-right: 10px;
}

div.change-commit-id {
    vertical-align: top;
    display: table-cell;
    padding-right: 10px;
}

div.change-message {
    display: table-cell;
    padding-left: 10px;
}

div.pipeline-row {
    display: table-row;
    padding: 10px 10px 15px 10px;
}

div.pipeline-cell {
    display: table-cell;
    vertical-align: bottom;
    padding: 0px 0px 5px 0px;
    margin: 0px;
}

div.stage {
    margin-right: 10px;
    border: none;
    height: initial;
}

div.stage a {
    text-decoration: none;
    color: inherit;
}

div.stage a:visited {
    color: inherit;
}

div.stage-task {
    white-space: nowrap;
    padding: 0;
}

div.taskname {
    display: table-cell;
    font-size: 12px;
    font-weight: normal;
    width: 100%;
    padding: 0;
}

.stage-name {
    display: table-cell;
    vertical-align: middle;
    white-space: normal;
    word-wrap: break-word;
    /*word-break: break-all;*/
    width: 100%;
    color: rgba(200,200,200,1);
    line-height: 1.3em;
}

div.stage-header {
    background-color: transparent;
    /*font-size: 13px;*/
    font-weight: normal;;
    display: table;
    width: 100%;
    white-space: nowrap;
    text-align: center;
}

div.task-content {
    padding: 3px 3px 3px 3px;
    width: 100%;
}

.stage-version {
    padding: 3px 6px 3px 3px;
    display: table-cell;
    float: right;
    vertical-align: top;
}

div.task-header {
    display: table;
    white-space: nowrap;
    width: 100%;
    border: none;
}

div.taskname {
    display: table-cell;
    font-size: 12px;
    font-weight: normal;
    width: 100%;
    padding: 0;
}

div.task-manual {
    display: table-cell;
    background: url("play.png") no-repeat;
    background-size: 75%;
    cursor: pointer;
    height: 14px;
    width: 14px;
    float: right;
    padding-right: 5px;
    z-index: 100;
}

div.task-rebuild {
    display: table-cell;
    background-color: #808080;
    background: url("refresh.png") no-repeat;
    background-size: 75%;
    cursor: pointer;
    height: 14px;
    width: 14px;
    float: right;
    padding-right: 5px;
    z-index: 100;
}

div.left {
    float: left;
}

div.right {
    float: right;
}

div.clear {
    clear: both;
}

div.pipelineerror {
    background-color: rgba(226,77,66,1);
    font-size: 22px;
    color: #ffffff;
    display: none;
    padding: 5px;
}

div.button-start {
    content: url("play.gif");
}

div.pipeline-message {
    font-size: 15px;
    z-index: -50;
}

div.infoPanel {
    display:block;
    max-width:300px;
    padding-left:2px;
    padding-right:2px;
    margin-top:-2px;
    border-top:none;
}
div.infoPanelInner {
    padding:8px 4px;
    overflow: hidden;
    border: 0;
}
div.infoPanelInner a {
    font-weight: bold;
}
div.infoPanelOuter {
    margin: 4px 2px 4px 4px;
    border: 1px solid lightgray;
    background-color: #FAF8F8;
}

div.aggregatedChangesPanel {
    display:block;
    max-width:300px;
    padding-left:2px;
    padding-right:2px;
    margin-top:-2px;
    border-top:none;
}

div.aggregatedChangesPanelInner {
    padding:8px 4px;
    overflow: hidden;
    border: 0;
}

div.aggregatedChangesPanelOuter {
    margin: 8px;
    border: 1px solid lightgray;
    background-color: #FAF8F8;
}

div.aggregatedChangesPanelInner > ul {
    padding-left: 1.2em;
}

.MANUALTASK {
    border-right: 6px solid #FFE4E1;
}
.promo-icon {
    padding-left: 2px;
}
.promo-name {
    padding-left: 6px;
}
.promo-user {
    padding-left: 4px;
}
.promo-time {
    padding-left: 24px;
}

.pagination {
	display:block;
	text-align:left;
	height:22px;
	line-height:21px;
	clear:both;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	margin-bottom:8px;
	margin-left:10px;
    margin-top:10px;
}

.pagination a, .pagination a:visited{
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #EBEBEB;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#0072bc;
	width:22px;
	font-weight:normal;
}

.pagination a:hover {
	background-color:#DDEEFF;
	border:1px solid #BBDDFF;
	color:#0072BC;
}

.pagination .active_link a {
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #BBDDFF;
	text-decoration:none;
	background-color:#DDEEFF;
	color:#0072BC;
	cursor:default;
}

.pagination .disabled_pagination {
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #EBEBEB;
	margin-left:10px;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#D7D7D7;
	cursor:default;
}

/**
 * Main table entry
 */

.build_table {
    width: 100%;
    text-align: left;
    vertical-align: middle;
    border-collapse: collapse;
    color: rgba(220,220,220,1);
}

.build_header {
    border-bottom: 1px solid #b3b3b3;
    text-align: left;
    color: inherit;
}

.build_header_STATUS {
    width: 5%;
}

.build_header_BUILD_NUM {
    width: 55%;
}

.build_header_DURATION {
    width: 10%;
}

.build_header_DATE {
    width: 20%;
}

.build_header_STARTED_BY {
    width: 10%;
}

.build_column {
    border-bottom: 1px solid #b3b3b3;
    text-align:left;
    color: inherit;
}

.build_entry {
    vertical-align: middle;
    height: 46px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: inherit;
    line-height: 1.6em;
}

.build_circle {
    vertical-align: middle;
    height: 46px;
    width: 100%;
    background-position: 7px center;
    background-size: 26px 26px;
    color: inherit;
}

.toggled_build_header {
    background-color: rgba(80,88,92,1);
    border: 1px solid #b3b3b3;

    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-linear-gradient(top, rgba(80,88,92,1), rgba(67,74,78,1));

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, rgba(80,88,92,1), rgba(67,74,78,1));
}

.toggled_build_header:hover {
    background-color: rgba(100,109,115,1);
    background: -webkit-linear-gradient(top, rgba(100,109,115,1), rgba(86,96,101,1));
    background: -moz-linear-gradient(top, rgba(100,109,115,1), rgba(86,96,101,1));
}

.untoggled_build_header {
    background-color: transparent;
    border: none;
}

.untoggled_build_header:hover {
    background-color: rgba(55,65,72,1);
    border: none;
}

.toggled_pipeline {
    border: 1px solid #b3b3b3;
    background-color: rgba(31,35,41,1);
}

.untoggled_pipeline {
    background-color: transparent;
    border: none;
}

/**
 * Use these classes to prevent borders from showing on default Jenkin tables
 */
.displayTable {
    margin: 15px 15px 0px 15px;
    text-align:left;
    border-collapse: collapse;
    color: rgba(200,200,200,1);
    font-size: 14px;
}

.displayTableLink {
    color: rgba(220,220,220,1);
}

.displayTableLink:hover {
    color: rgba(85,159,213,1);
}

.displayTableLink:visited {
    color: rgba(220,220,220,1);
}

.displayTableTr {
    color: inherit;
}

.displayTableTr:nth-child(odd) {
    background-color: rgba(45,51,55,1);
}

.displayTableTh {
    border-top: 1px solid rgba(61,69,75,1);
    border-bottom: 1px solid rgba(61,69,75,1);
    padding: 3px 50px 3px 3px;
    color: inherit;
}

.displayTableTd {
    border-top: 1px solid rgba(61,69,75,1);
    border-bottom: 1px solid rgba(61,69,75,1);
    font-weight: normal;
    padding: 3px 50px 3px 3px;
    color: inherit;
}

.displayTableEntryLink {
}

/* For links in the display table */
.displayTableEntryLink:hover {
    color: rgba(85,159,213,1);
}

.legendRow:nth-child(odd) {
    background-color: transparent;
}

.legendTh {
    padding: 0px 50px 0px 3px;
    border: none;
    font-size: 12px;
}

.legendTd {
    padding: 0px 10px 0px 10px;
    border: none;
    font-size: 12px;
}

.hoverText {
    color: rgba(200,200,200,1);
    font-size: 12px;
}

.hoverTable {
    text-align:left;
    border-collapse: collapse;
    color: rgba(200,200,200,1);
    font-size: 12px;
}

.hoverRow:nth-child(odd) {
    background-color: rgba(45,51,55,1);
}

.hoverTableTh {
    color: inherit;
    border-top: 1px solid rgba(61,69,75,1);
    border-bottom: 1px solid rgba(61,69,75,1);
    padding: 1px 25px 1px 1px;
    font-size: inherit;
}

.hoverTableTd {
    color: inherit;
    border-top: 1px solid rgba(61,69,75,1);
    border-bottom: 1px solid rgba(61,69,75,1);
    padding: 1px 5px 1px 1px;
    font-size: inherit;
}

a span {
    display: none;
    position: absolute;
    background-color: rgba(37,44,49,1);
    border-radius: 10px;
    border: 1px solid #b3b3b3;
    font-weight: normal;
    min-height: 50px;
    min-width: 100px;
    top: 100%;
    z-index: 6;
    padding: 5px;
}

a {
    position: relative;
    color: inherit;
}

a:link {
    color: inherit;
}

a:hover span {
    display: block;
    text-align: left;
}

.label {
    border: 1px solid #ddd;
    padding: 2px;
    font-size: 12px;
    background-color: #ddd;
    color: black;
    z-index: 5;
}

._jsPlumb_connector {
    z-index: 1;
}

._jsPlumb_endpoint {
    z-index: 2;
}

._jsPlumb_overlay {
    z-index: 3;
}

.jtk-hover {
    z-index: 4;
}
